In [1]:
## Q1.  Write a rogram to convert specified days into years,weeks and days.
##  Take 
##  user input.
##  Note: ignore leap year

In [3]:
days = int(input('Enter the  Days'))
Years = days // 365
weeks = (days%365) / 7
rem_days = days% 365
print('conversion is',Years,':',weeks,':',rem_days)

Enter the  Days 400

conversion is 1 : 5.0 : 35

In [9]:
## Q2. Write a python program to input  basicpython salary of an empoyee and
'''calculate its Gross salary according to following:
 Basic Salary <== 10000: HRA = 20%,DA = 80%
 Basic Salary <== 20000: HRA = 30%,DA = 90%
 Basic Salary > 20000: HRA = 35%,DA = 95% 
'''

In [25]:
Basic_Salary = int(input('Enter Basic Salary'))

if Basic_Salary <= 10000:
 HRA=(Basic_Salary*20)/100
 DA=(Basic_Salary*80)/100
 gross_Salary=Basic_Salary + DA + HRA
 print(gross_Salary)
    
elif Basic_Salary <= 20000:
 HRA=(Basic_Salary*30)/100
 DA=(Basic_Salary*90)/100
 gross_Salary=Basic_Salary + DA + HRA
 print(gross_Salary)
    
else:
    if Basic_Salary > 20000:
        HRA=(Basic_Salary*35)/100
        DA=(Basic_Salary*95)/100
        gross_Salary=Basic_Salary + DA + HRA
        print(gross_Salary)

Enter Basic Salary 250000

575000.0

In [2]:
## Q3  Write a python program to input electricity unit charges and calculate total
''' electricity bill according to the given condiktion:
## For first 50 units Rs. 0.50/unit
## For next 100 units Rs. 0.75/unit
## For next 100 units Rs. 1.25/unit
## For unit above 250 Rs. 1.50/unit
## An additional surcharges of 17% is added to the bill
'''

units = float(input('Enter the number of units:'))
if units <= 50:
    bill = units*0.50 
elif units <= 150:
    bill = (50*0.50)+((units-50)*0.75)   
elif units <=250:
    bill = (50*0.50)+(100*0.75)+((units-150)*1.25)
else:
    bill = (50*0.50)+(100*0.75)+(100*1.25)+ ((units-250)*1.50)
    charge =bill*0.17
    Total_Bill = bill + charge
    print("You're total bill is:",Total_Bill)

Enter the number of units: 255

You're total bill is: 272.025

In [2]:
## Q4. Write a python program to print the given number patterns.
'''
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
'''
row = int(input('Enter the number of rows'))

for i in range(row):
    for j in range(i+1):
        print(i+1, end ='')
    print()

Enter the number of rows 5

1
22
333
4444
55555

In [30]:
## Q5. Write a python program to calculate product of digits of a number.Read
## value of n from user

num =int(input('Enter the number'))
pod = 1
while num > 0:
    rem = num%10
    pod =  pod*rem
    num =  num//10
    print('Addition of digits is:',pod)

Enter the number 12345

Addition of digits is: 5
Addition of digits is: 20
Addition of digits is: 60
Addition of digits is: 120
Addition of digits is: 120

In [36]:
### Q7. Create a tuple of elements with 5 float values ikn it and perform following operations
## 1. Print the data in sorted manner.
## 2. Check to see that the elements 50 is present in it.
## 3. Convert the tuple in set
#  tuple create
t=(1.5,2.5,0.5,8.5,5.5)

In [37]:
t

(1.5, 2.5, 0.5, 8.5, 5.5)

In [38]:
#1.
t1 = list(t)

In [39]:
t1.sort()

In [40]:
t1

[0.5, 1.5, 2.5, 5.5, 8.5]

In [42]:
#2.
50 in t1

False

In [43]:
#3.
s = set(t)

In [44]:
s

{0.5, 1.5, 2.5, 5.5, 8.5}

In [48]:
''' Q8.
create a dictionary of elements :{'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}and
perform following operations
1. Access the data at key 'k'
2. Add a new values 'z':'zebra'
3. Replace the contents of 'd' as 'dog'
4. Print all the values from this dictionary
5. Find the length of this dictionary
'''

# dictionary created
d = {'a':'apple','b':'ball','c':'cat','d':'doll','k':'king'}

In [49]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [50]:
#1.
d['k']

'king'

In [51]:
#2.
d['z'] = 'zebra'

In [52]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [53]:
#3.
d['d'] = 'dog'

In [54]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [55]:
#4.
d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [56]:
#5.
len(d)

6

In [59]:
## Q9.Write a program to find the second largest element in a list

l = [19,34,22,15,89]

In [60]:
l

[19, 34, 22, 15, 89]

In [61]:
t = sorted(l,reverse = True)

In [62]:
t

[89, 34, 22, 19, 15]

In [64]:
t[1]

34

In [26]:
''' Q10. This is a list of some metallic element.
metals = ['silver','gold',....]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that itdoes NOT  contain the item 'copper'.
'''
metals = ['silver', 'gold', 'mercury', 'iron', 'cobalt']

In [27]:
metals

['silver', 'gold', 'mercury', 'iron', 'cobalt']

In [28]:
# create a new list without 'copper'
new_metals = [metal for metal in metals if metal != 'copper']
print(new_metals)

['silver', 'gold', 'mercury', 'iron', 'cobalt']

In [7]:
### Q6.  Create a list of element like. x = [45,67, 12, 'Hello', 23.45, 'World'] and perform following opertions

'''
1. Extract only string values from this list.
2. Create a new list with String in upper case.
3. Find the addition of integer values.
4. Check that the value 56 is present in it or not
5. Print the list in reverse order.
6. Delete the string 'Hello' from it.
7. Insert a new value of 36 at 5th position in list.
8. count total number of elements in list now.
9. Extract the values from 2nd index to 5th index.
10. Append[34, 'Pune'] to this list.
11. Delete the last element from list.
'''

# list created
x = [45,67, 12, 'Hello', 23.45, 'World'] 
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [8]:
#1 Extract only string values from this list.
String_values = [item for item in x if isinstance(item,str)]
print(String_values)

['Hello', 'World']

In [9]:
#2 Create a new list with String in upper case.
l = ['Pranali', 'Amruta', 'Sneha', 'Dnyaneshwari', 'Pranali']
l
[n.upper() for n in l]

['PRANALI', 'AMRUTA', 'SNEHA', 'DNYANESHWARI', 'PRANALI']

In [10]:
#3 Find the addition of integer values.
x = [45,67, 12, 'Hello', 23.45, 'World']
sum = 0

for i in x:
    if isinstance(i, int):
        sum += i
print('sum of integer values in the list', sum)

sum of integer values in the list 124

In [11]:
#4. Check that the value 56 is present in it or not.
56 in x

False

In [12]:
#5 Print the list in reverse order.
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [13]:
x.reverse()

In [14]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [15]:
#6. Delete the string 'Hello' from it.
x.remove('Hello')

In [16]:
x

['World', 23.45, 12, 67, 45]

In [17]:
#7 Insert a new value of 36 at 5th position in list.
x.insert(5,36)

In [18]:
x

['World', 23.45, 12, 67, 45, 36]

In [19]:
#8 count total number of elements in list now.
x = [45,67, 12, 'Hello', 23.45, 'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [20]:
len(x)

6

In [21]:
#9 Extract the values from 2nd index to 5th index.
x[2:6]

[12, 'Hello', 23.45, 'World']

In [22]:
#10 Append[34, 'Pune'] to this list.
x.append([34, 'Pune'])

In [23]:
x

[45, 67, 12, 'Hello', 23.45, 'World', [34, 'Pune']]

In [24]:
#11 Delete the last element from list.
x = [45,67, 12, 'Hello', 23.45, 'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [25]:
x.pop()

'World'