In [1]:
for n in 12, 34, 45, 21:
    print(n)

12
34
45
21

In [2]:
for n in 12 ,34, 45, 21, 'Adi' , True:
    print(n)

12
34
45
21
Adi
True

In [3]:
for n in 12, 34, 45, 21:
    print(n/2)

6.0
17.0
22.5
10.5

In [4]:
# range function

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
list(range(5, 20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
list(range(5,20,2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
# range(star, end + 1 ,step)  this is the format of range

In [10]:
for n in range(1, 11):
    print(n, end = '')

12345678910

In [11]:
# addition of odd numbers from 1 to 20

add = 0

for n in range(1,21,2):
    add = add + n
print('Addition is ',add)

Addition is  100

In [14]:
for n in range(10):
    print('Dnyneshwari', end = '')

DnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwariDnyneshwari

In [15]:
for n in 'Tanvi':
    print(n * 3)

TTT
aaa
nnn
vvv
iii

In [16]:
for n in 'Tanvi', 'Ganesh':
    print(n)

Tanvi
Ganesh

In [17]:
l = [23, 45, 32, 21, 67]

for n in l:
    print(n)
else:
    print('Loop ended')

23
45
32
21
67
Loop ended

In [19]:
# find factorial of a number ... tke user input

num = int(input('Enter the number'))
fact = 1

for n in range(1, num + 1):
    fact = fact * n
print('factorial is:', fact)

Enter the number 5

factorial is: 120

In [20]:
### Break statement

In [21]:
for n in range(1, 10):
    if n == 5:
        break
    print(n)

1
2
3
4

In [22]:
count = 0
while count < 10:
    print(count)
    if count == 5:
        break
    count += 1

0
1
2
3
4
5

In [23]:
# Continue

In [24]:
for n in range(1, 10):
    if n == 5:
        continue
    print(n)

1
2
3
4
6
7
8
9

In [25]:
# print odd number from 1 to 12 using continue statement

for i in range(1,13):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11

In [26]:
# Pass

In [27]:
num= 5

if num > 1:
    pass

In [28]:
'''
*
**
***
''';

row = int(input('Enter the number of rows'))

for i in range(1, row + 1):
    for j in range(i):
        print('*',end = '')
    print()

Enter the number of rows 10

*
**
***
****
*****
******
*******
********
*********
**********

In [29]:
### FOR LOOP

In [30]:
for n in 34, 45, 21, 33, 57:
    print(n)

34
45
21
33
57

In [31]:
for n in 34, 45, 21, 33, 57:
    print(n/2)

17.0
22.5
10.5
16.5
28.5

In [32]:
for n in 34, 45, 21, 33, 57, 67.33, 'Adi', True:
    print(n)

34
45
21
33
57
67.33
Adi
True