In [1]:
# class creation
class Employee():
    pass

In [2]:
emp1 = Employee()   # instance of class
emp2 = Employee()   # objects

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x000001AEABCD5850>
<__main__.Employee object at 0x000001AEABCB0590>

In [5]:
emp1.first = 'Natasha'     # instance variables
emp1.last ='Negi'
emp1.salary = '52000'

emp2.first = 'Raj'
emp2.last = 'Sharma'   # instance variable
emp2.salary = '50000'

In [6]:
print(emp1.first)

Natasha

In [7]:
print(emp2.salary)

50000

In [44]:
class Employee():
    def __init__(self, first, last, salary):
        self.first = first   # emp1.first => 'Ravi'  same as above but here use init keyword
        self.last = last
        self.salary = salary

    def show(self):
       print(self.first,'ok')

In [45]:
emp1 = Employee('Ravi', 'Tyagi', 55000)
emp2 = Employee('Neha', 'Kulkarni', 54000)

In [46]:
emp1.first

'Ravi'

In [47]:
emp1.show()

Ravi ok

In [62]:
# Encapsulation

class Employee1():
    def __init__(self, first, last, salary):
        self.first = first   
        self.last = last
        self.__salary = salary   # creating a private variable using double underscore
    def display(self):
       print('salary is',self.__salary)

In [63]:
emp3 = Employee1 ('Akash','Tyagi',30000)
emp4 = Employee1 ('Pranav','Patil', 32000)

In [59]:
emp3.first

'Akash'

In [64]:
emp3.display()  # salary is hide and its make private

salary is 30000

In [65]:
## inheritance

class Employee2(Employee1):
    pass

In [66]:
emp5 = Employee2('Aniket','Rana', 60000)

In [67]:
emp5.display()

salary is 60000

In [82]:
'''
create a class called person
take is name, age, hobby...... (make use of default parameters also)
create multiple objects
create a method to display
'''

class person():
    def __init__(self,name,age=22):
        self.name = name
        self.age = age
        #self.hobby = hobby
    def display1(self):
        print('person name=',self.name)
        print('person age',self.age)
       # print('person hobby',self.hobby)

In [83]:
person1 = person('Ankita','19')

In [84]:
person1.display1()

person name= Ankita
person age 19

In [87]:
person2 = person('Nikita','25')
person3 = person('Praali','')

In [88]:
person2.display1()

person name= Nikita
person age 25

In [89]:
person3.display1()

person name= Praali
person age